/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #eeecea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

strong {
  font-weight: 500;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  font-family: "jost", serif;
}

li {
  margin-bottom: 10px;
  line-height: 1.6;
}

h3 {
  font-family: "jost", serif;
  color: #000000;
}

.nav_menu {
  background-color: #eeecea;
  padding: 10px;
  font-family: "cardo", serif;
  text-align: center;
  border-bottom: solid 1px black;
}

.nav_link {
  font-weight: light;
  color: black;
  text-decoration: none;
  font-family: "cardo", serif;
  margin: 30px;
}

.h1_overskrift {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  margin: 20px;
  margin-top: 40px;
  color: #545f7e;
}

.h2_underrubrik {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  margin-bottom: 40px;
  color: #545f7e;
}

.footer_kontakt {
  color: #000000;
  text-align: center;
  padding: 20px;
  font-family: "cardo", serif;
  font-weight: light;
  margin-top: 40px;
  border-top: solid 1px black;
  margin-bottom: 20px;
}

.kontakt_bold {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
