.erhvervserfaring {
  margin-bottom: 30px;
  margin-top: 40px;

  text-align: center;
}

.tidligere {
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
  font-family: "jost", serif;
  font-weight: light;
  color: #000000;
  font-size: 1rem;
}

.portrætbillede {
  margin-top: 10px;
  border: solid 5px #000000;
  border-radius: 15px;
  max-width: 300px;
  margin: 20px auto 0;
}

.h2_underrubrik_ommig {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  margin: 20px;
  margin-top: 100px;
  color: #545f7e;
}

.reflektion {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.reflektion p {
  font-family: "jost", serif;
  font-weight: light;
  color: #000000;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 550px) {
  .grid_layout_ommig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
  }

  .portrætbillede {
    max-width: 100%;
    grid-column: 1;
    grid-row: 1 / 3;
    height: auto;
    width: 100%;
    margin-top: 70px;
  }

  .erhvervserfaring {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    margin-top: 100px;
  }

  .tidligere {
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    margin-top: 0;
    margin-top: 30px;
  }

  .reflektion {
    grid-column: 2;
    grid-row: 2;
    max-width: 1000px;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .reflektion p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
  }

  .h2_underrubrik_ommig {
    grid-column: 1 / 1;
    grid-row: 1;
    margin-top: 30px;
  }
}
